@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray-50: #e2e9ee;
  --gray-100: #f6f8fa;
  --gray-300: #97a0b9;
  --gray-600: #565f69;
  --blue-700: #235de7;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
